
@{
    ViewBag.Title = "SuccessPayment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section CSS
{
    <style>
        h2 {
            color: #88B04B;
            text-align:center;
            font-weight:bold;

        }

        p {
            color: #404F5E;
           
            font-size: 20px;
            margin: 0;
        }


        .card {
            background: white;
            padding: 60px;
            border-radius: 4px;
            box-shadow: 0 2px 3px #C8D0D8;
            display: inline-block;
            margin: 0 auto;
        }
    </style>
    }
<div class="d-flex  flex-column justify-content-center wrapper m-b-200 m-t-100">
    <div  class="card m-auto">
        <h2 class="m-auto m-b-10">Đặt hàng thành công!</h2>
        <p>Cảm ơn quý khách đã ủng hộ sản phẩm của WatchShop</p>
    </div>
</div>


