@model WatchShop.EntityFramework.Material

@{
    ViewBag.Title = "Material Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div>
  
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MaterialName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaterialName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaterialId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
